In [0]:
import pandas as pd

file_path = "/Volumes/workspace/default/netflixdata/netflix_titles.csv"

df = pd.read_csv(file_path)
df_cleaned=df.copy()

df.head(10)

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...
5      s6  ...  The arrival of a charismatic young priest brin...
6      s7  ...  Equestria's divided. But a bright-eyed hero be...
7      s8  ...  On a photo shoot in Ghana, an American model s...
8      s9  ...  A talented batch of amateur bakers face off in...
9     s10  ...  A woman adjusting to life after a loss contend...

[10 rows x 12 columns]

In [0]:
# shape of the dataset (rows, columns)
print(df_cleaned.shape)
# total number of values (cells)
print(df_cleaned.size)

(8807, 12)
105684

In [0]:
#dropping duplicates
import pandas as pd
before = df_cleaned.shape[0]             
df_cleaned = df_cleaned.drop_duplicates()  
after = df_cleaned.shape[0]
print(f"Rows before dropping duplicates: {before}")
print(f"Rows after dropping duplicates: {after}")
print(f"Total duplicates removed: {before - after}")

Rows before dropping duplicates: 8807
Rows after dropping duplicates: 8807
Total duplicates removed: 0

In [0]:
#calculating null values
import pandas as pd


print(df_cleaned.head())

print(df_cleaned.info())
print(df_cleaned.isnull().sum())

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB
None
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [0]:
#removing null values


# Fill ALL missing values with these 6 lines:
df_cleaned['director'] = df_cleaned['director'].fillna('Unknown')
df_cleaned['cast'] = df_cleaned['cast'].fillna('Not Available')
df_cleaned['country'] = df_cleaned['country'].fillna('Unknown')
df_cleaned['date_added'] = df_cleaned['date_added'].fillna('Unknown')
df_cleaned['rating'] = df_cleaned['rating'].fillna('Unrated')
df_cleaned['duration'] = df_cleaned['duration'].fillna('Unknown')


print("Missing values after cleaning:")
print(df_cleaned.isnull().sum())

Missing values after cleaning:
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [0]:
# . Remove whitespace from text columns 
text_columns = ['title', 'director', 'cast', 'country', 'description', 'listed_in']

for column in text_columns:
    if column in df.columns:
        df_cleaned[column] = df_cleaned[column].astype(str).str.strip()

In [0]:
# Check current data types
print(df.dtypes)


df.info()

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [0]:
# Strip leading/trailing spaces
df_cleaned = df_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df_cleaned['title'] = df_cleaned['title'].str.title()
df_cleaned['country'] = df_cleaned['country'].str.title()

df_cleaned['release_year'] = pd.to_numeric(df_cleaned['release_year'], errors='coerce')

df_cleaned['date_added'] = pd.to_datetime(df_cleaned['date_added'], errors='coerce')

df_cleaned['duration_num'] = df_cleaned['duration'].str.extract(r'(\d+)').astype(float)

df_cleaned['duration_unit'] = df_cleaned['duration'].str.extract(r'([A-Za-z]+)')

print(df_cleaned.dtypes)
df_cleaned.info()

show_id                  object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
listed_in                object
description              object
duration_num            float64
duration_unit            object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   director       8807 non-null   object
 4   cast           8807 non-null   object
 5   country        8807 non-null   object
 6   date_added     8797 non-null   datetime64[ns]
 7   release_year   8807 non-null   int64
 8   rating         8807 non-null   object
 9   duration       8807 non-null   object
 10  listed_in      8807 non-null   object
 11  description    8807 non-null   object
 12  duration_num   8804 non-null   float64
 13  duration_unit  8807 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 1.0+ MB

In [0]:


# Save as CSV file
df_cleaned.to_csv("/Volumes/workspace/default/netflixdata/netflix_titles_cleaned.csv", index=False)
print("✅ Cleaned dataset saved as CSV!")

✅ Cleaned dataset saved as CSV!