In [0]:
%python
%pip install --upgrade threadpoolctl

import pandas as pd
from sklearn.preprocessing import (
    LabelEncoder,
    OneHotEncoder,
    MinMaxScaler
)

Requirement already satisfied: threadpoolctl in /local_disk0/.ephemeral_nfs/envs/pythonEnv-f50ddba3-5e1c-498e-8c6e-680d9a002931/lib/python3.12/site-packages (3.6.0)
Note: you may need to restart the kernel using %restart_python or dbutils.library.restartPython() to use updated packages.

In [0]:
%restart_python

In [0]:
import pandas as pd
df = pd.read_csv("/Volumes/workspace/default/netflix_analysis/netflix_titles/cleaned_netflix_titles.csv")
print(df.head())

  show_id  ...        directory
0      s1  ...  kirsten johnson
1      s2  ...              NaN
2      s3  ...  julien leclercq
3      s4  ...              NaN
4      s5  ...              NaN

[5 rows x 13 columns]

In [0]:
print(df.shape)
df.head()

(8807, 13)

  show_id  ...        directory
0      s1  ...  kirsten johnson
1      s2  ...              NaN
2      s3  ...  julien leclercq
3      s4  ...              NaN
4      s5  ...              NaN

[5 rows x 13 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder

# Label Encoding on 'rating'
label_encoder = LabelEncoder()
df['rating_encoded'] = label_encoder.fit_transform(df['rating'].astype(str))

df[['rating', 'rating_encoded']].head(10)

  rating  rating_encoded
0  PG-13               7
1  TV-MA              11
2  TV-MA              11
3  TV-MA              11
4  TV-MA              11
5  TV-MA              11
6     PG               6
7  TV-MA              11
8  TV-14               9
9  PG-13               7

In [0]:
display(df['rating'].unique())

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [0]:
# Check the columns in your DataFrame
display(df.columns)


# One-Hot Encode 'type', keep only 'TV Show'
df_ohe.rename(columns={'type_TV Show': 'is_tv_show'}, inplace=True)
print(df_ohe[['is_tv_show']].head(10))

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'directory', 'rating_encoded', 'is_movie', 'country_encoded',
       'duration_minutes', 'release_year_scaled', 'duration_norm',
       'release_year_standard'],
      dtype='object')

   is_tv_show
0           0
1           1
2           1
3           1
4           1
5           1
6           0
7           0
8           1
9           0

In [0]:
# Convert type into numeric category

df["is_movie"] = df["type"].apply(lambda x: 1 if x.strip().lower() == "movie" else 0)

# Quick check
df[["type", "is_movie"]].head(10)

      type  is_movie
0    Movie         1
1  TV Show         0
2  TV Show         0
3  TV Show         0
4  TV Show         0
5  TV Show         0
6    Movie         1
7    Movie         1
8  TV Show         0
9    Movie         1

In [0]:
freq_encoding = df['country'].value_counts().to_dict()
df['country_encoded'] = df['country'].map(freq_encoding)
df[['country', 'country_encoded']].head(10)

                                             country  country_encoded
0                                      United States           2819.0
1                                       South Africa             30.0
2                                                NaN              NaN
3                                                NaN              NaN
4                                              India            972.0
5                                                NaN              NaN
6                                                NaN              NaN
7  United States Ghana Burkina Faso United Kingdo...              1.0
8                                     United Kingdom            421.0
9                                      United States           2819.0

In [0]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['release_year_scaled'] = scaler.fit_transform(df[['release_year']])
df['duration_norm'] = scaler.fit_transform(df[['duration_minutes']])

df[['release_year', 'release_year_scaled', 'duration_minutes', 'duration_norm']].head(10)

   release_year  release_year_scaled  duration_minutes  duration_norm
0          2020             0.989583              90.0       0.286174
1          2021             1.000000               2.0       0.003215
2          2021             1.000000               1.0       0.000000
3          2021             1.000000               1.0       0.000000
4          2021             1.000000               2.0       0.003215
5          2021             1.000000               1.0       0.000000
6          2021             1.000000              91.0       0.289389
7          1993             0.708333             125.0       0.398714
8          2021             1.000000               9.0       0.025723
9          2021             1.000000             104.0       0.331190