In [0]:
import pandas as pd
file_path ="/Volumes/workspace/default/netflix/netflix_cleaned.csv"
df = pd.read_csv(file_path)
df.head(5)

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [0]:
# Fill missing numeric values with 0 or mean/median
df[['release_year', 'duration']] = df[['release_year', 'duration']].fillna(0)

print("Step 2: After Handling Missing Values")
df[['title','release_year','duration']]

Step 2: After Handling Missing Values

                      title  release_year   duration
0      Dick Johnson Is Dead          2020     90 min
1             Blood & Water          2021  2 Seasons
2                 Ganglands          2021   1 Season
3     Jailbirds New Orleans          2021   1 Season
4              Kota Factory          2021  2 Seasons
...                     ...           ...        ...
8802                 Zodiac          2007    158 min
8803            Zombie Dumb          2018  2 Seasons
8804             Zombieland          2009     88 min
8805                   Zoom          2006     88 min
8806                 Zubaan          2015    111 min

[8807 rows x 3 columns]

In [0]:
# Fill missing numeric values
df[['release_year', 'duration']] = df[['release_year', 'duration']].fillna(0)

print("✅ Missing numeric values handled")
df[['title','release_year','duration']].head(5)

✅ Missing numeric values handled

                   title  release_year   duration
0   Dick Johnson Is Dead          2020     90 min
1          Blood & Water          2021  2 Seasons
2              Ganglands          2021   1 Season
3  Jailbirds New Orleans          2021   1 Season
4           Kota Factory          2021  2 Seasons

In [0]:

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
# Label Encoding
label_encoder = LabelEncoder()
df['rating_label'] = label_encoder.fit_transform(df['rating'].astype(str))

# Min-Max Normalization
scaler = MinMaxScaler()
df['rating_norm'] = scaler.fit_transform(df[['rating_label']])

df[['rating', 'rating_label', 'rating_norm']]

      rating  rating_label  rating_norm
0          7            15     0.882353
1         11             3     0.176471
2         11             3     0.176471
3         11             3     0.176471
4         11             3     0.176471
...      ...           ...          ...
8802       8            16     0.941176
8803      14             6     0.352941
8804       8            16     0.941176
8805       6            14     0.823529
8806       9            17     1.000000

[8807 rows x 3 columns]

In [0]:
# Ordinal Encoding based on frequency
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
country_order = df['country'].value_counts().index.tolist()
ordinal_encoder = OrdinalEncoder(categories=[country_order])
df['country_ordinal'] = ordinal_encoder.fit_transform(df[['country']])

# Normalize
df['country_norm'] = scaler.fit_transform(df[['country_ordinal']])

df[['country', 'country_ordinal', 'country_norm']].head(5)

         country  country_ordinal  country_norm
0  United States              0.0      0.000000
1   South Africa             29.0      0.038770
2        Unknown              2.0      0.002674
3        Unknown              2.0      0.002674
4          India              1.0      0.001337

In [0]:
from sklearn.preprocessing import MinMaxScaler

# Extract numbers safely from 'duration' using raw string
df['duration_min'] = df['duration'].str.extract(r'(\d+)')  # Use r'' for regex

# Convert to numeric, coerce errors to NaN
df['duration_min'] = pd.to_numeric(df['duration_min'], errors='coerce')

# Fill missing values
df['duration_min'] = df['duration_min'].fillna(0)

# Check results
df[['duration', 'duration_min']].head(15)

     duration  duration_min
0      90 min          90.0
1   2 Seasons           2.0
2    1 Season           1.0
3    1 Season           1.0
4   2 Seasons           2.0
5    1 Season           1.0
6      91 min          91.0
7     125 min         125.0
8   9 Seasons           9.0
9     104 min         104.0
10   1 Season           1.0
11   1 Season           1.0
12    127 min         127.0
13     91 min          91.0
14   1 Season           1.0

In [0]:
cols = ['country', 'director', 'cast']
df[cols] = df[cols].replace('Unknown', 'Not Specified')
df[cols].head(15)

                                              country  ...                                               cast
0                                       United States  ...                                      Not Available
1                                        South Africa  ...  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2                                       Not Specified  ...  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                       Not Specified  ...                                      Not Available
4                                               India  ...  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5                                       Not Specified  ...  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6                                       Not Specified  ...  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7   United States, Ghana, Burkina Faso, United Kin...  ...  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8                                      United Kingdom  ...  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9                                       United States  ...  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
10                                      Not Specified  ...                                      Not Available
11                                      Not Specified  ...  Sukollawat Kanarot, Sushar Manaying, Pavarit M...
12                            Germany, Czech Republic  ...  Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
13                                      Not Specified  ...  Klara Castanho, Lucca Picon, Júlia Gomes, Marc...
14                                      Not Specified  ...                                      Not Available

[15 rows x 3 columns]

In [0]:
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler

# Example for 'country'
country_order = df['country'].value_counts().index.tolist()  # Include 'Not Specified'
ordinal_encoder = OrdinalEncoder(categories=[country_order])
df['country_ordinal'] = ordinal_encoder.fit_transform(df[['country']])

# Normalize
scaler = MinMaxScaler()
df['country_norm'] = scaler.fit_transform(df[['country_ordinal']])
df[['country', 'country_norm', 'country_ordinal']].head(10)

                                             country  ...  country_ordinal
0                                      United States  ...              0.0
1                                       South Africa  ...             29.0
2                                      Not Specified  ...              2.0
3                                      Not Specified  ...              2.0
4                                              India  ...              1.0
5                                      Not Specified  ...              2.0
6                                      Not Specified  ...              2.0
7  United States, Ghana, Burkina Faso, United Kin...  ...            553.0
8                                     United Kingdom  ...              3.0
9                                      United States  ...              0.0

[10 rows x 3 columns]

In [0]:
df.to_csv("/Volumes/workspace/default/netflix/netflix_normalised.csv", index=False)
display(df.head(6))

show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Not Available,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable."
s2,Tv Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth."
s3,Tv Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Action & Adventure","To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war."
s4,Tv Show,Jailbirds New Orleans,Unknown,Not Available,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series."
s5,Tv Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV Comedies","In a city of coaching centers known to train India’s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life."
s6,Tv Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas, Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli, Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt Biedel, Michael Trucco, Crystal Balint, Louis Oliver",Unknown,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries","The arrival of a charismatic young priest brings glorious miracles, ominous mysteries and renewed religious fervor to a dying town desperate to believe."