READ THE DATASET

In [0]:
import pandas as pd


df = pd.read_csv("netflix_cleaned.csv")


print(df.shape)
df.head()

(8807, 12)

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

COUNTRY AS 1 AND UNKNOWN AS 0

In [0]:
import pandas as pd

df = pd.read_csv("netflix_cleaned.csv")

# Fill missing countries
df["country"] = df["country"].fillna("Unknown").str.strip()

# Take the first country if multiple
df["main_country"] = df["country"].str.split(",").str[0].str.strip()

# Create binary code: 1 if country is known, 0 if Unknown
df["country_code"] = df["main_country"].apply(lambda x: 0 if x.lower() == "unknown" else 1)

# Quick peek
df[["country", "main_country", "country_code"]].head(20)

                                              country  ... country_code
0                                       United States  ...            1
1                                        South Africa  ...            1
2                                             Unknown  ...            0
3                                             Unknown  ...            0
4                                               India  ...            1
5                                             Unknown  ...            0
6                                             Unknown  ...            0
7   United States, Ghana, Burkina Faso, United Kin...  ...            1
8                                      United Kingdom  ...            1
9                                       United States  ...            1
10                                            Unknown  ...            0
11                                            Unknown  ...            0
12                            Germany, Czech Republic  ...            1
13                                            Unknown  ...            0
14                                            Unknown  ...            0
15                                      United States  ...            1
16                                            Unknown  ...            0
17                                             Mexico  ...            1
18                                            Unknown  ...            0
19                                            Unknown  ...            0

[20 rows x 3 columns]

Creating Numeric Flag for Movie Type movie as 1 and tvshow as 0

In [0]:
# Convert type into numeric category
df["is_movie"] = df["type"].apply(lambda x: 1 if x.strip().lower() == "movie" else 0)

# Quick check
df[["type", "is_movie"]].head(10)

      type  is_movie
0    Movie         1
1  TV Show         0
2  TV Show         0
3  TV Show         0
4  TV Show         0
5  TV Show         0
6    Movie         1
7    Movie         1
8  TV Show         0
9    Movie         1

Identifying TV Shows Using Duration and Unit Extraction and min as 0 and season as 1

In [0]:
import pandas as pd

# Read cleaned dataset
df = pd.read_csv("netflix_cleaned.csv")

# Fill missing duration and extract unit
df["duration"] = df["duration"].fillna("0 min")
df["duration_unit"] = df["duration"].str.extract(r"\d+\s*(\w+)")[0]

# Create binary column: 1 if Seasons, 0 if min
df["is_tv_show"] = df["duration_unit"].str.lower().apply(lambda x: 1 if x == "seasons" else 0)

# Quick peek
df[["duration", "duration_unit", "is_tv_show"]].head(10)

    duration duration_unit  is_tv_show
0     90 min           min           0
1  2 Seasons       Seasons           1
2  1 Seasons       Seasons           1
3  1 Seasons       Seasons           1
4  2 Seasons       Seasons           1
5  1 Seasons       Seasons           1
6     91 min           min           0
7    125 min           min           0
8  9 Seasons       Seasons           1
9    104 min           min           0

Encoding and Normalizing Rating Frequencies calculate norm freq for rating

In [0]:
import pandas as pd

# Read cleaned dataset
df = pd.read_csv("netflix_cleaned.csv")

# Example: frequency encode the 'rating' column
freq = df["rating"].value_counts()       # count of each category
df["rating_freq"] = df["rating"].map(freq)  # map counts back to the dataframe

# Optional: normalize to get proportion instead of count
df["rating_freq_norm"] = df["rating"].map(freq / len(df))

# Quick check
df[["rating", "rating_freq", "rating_freq_norm"]].head(10)

  rating  rating_freq  rating_freq_norm
0  PG-13          490          0.055638
1  TV-MA         3211          0.364596
2  TV-MA         3211          0.364596
3  TV-MA         3211          0.364596
4  TV-MA         3211          0.364596
5  TV-MA         3211          0.364596
6     PG          287          0.032588
7  TV-MA         3211          0.364596
8  TV-14         2160          0.245259
9  PG-13          490          0.055638

Country Label Encoding and Sample Output

In [0]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Read cleaned dataset
df = pd.read_csv("netflix_cleaned.csv")

# Fill missing values in main_country
df["main_country"] = df["country"].fillna("Unknown").str.split(",").str[0].str.strip()

# Apply Label Encoding
le_country = LabelEncoder()
df["main_country_label"] = le_country.fit_transform(df["main_country"])

# Quick check
df[["main_country", "main_country_label"]].head(10)

     main_country  main_country_label
0   United States                  80
1    South Africa                  67
2         Unknown                  81
3         Unknown                  81
4           India                  30
5         Unknown                  81
6         Unknown                  81
7   United States                  80
8  United Kingdom                  79
9   United States                  80

Director Name Cleaning and Movie Type Numeric Encoding and movie director as 1 and other as 0

In [0]:
import pandas as pd

# Read cleaned dataset
df = pd.read_csv("netflix_cleaned.csv")

# Fill missing director names
df["director"] = df["director"].fillna("Unknown Director").str.strip()

# Create numeric director column based on type
df["director_code"] = df.apply(lambda row: 1 if str(row["type"]).strip().lower() == "movie" else 0, axis=1)

# Quick peek
df[["title", "type", "director", "director_code"]].head(10)

                              title  ... director_code
0              Dick Johnson Is Dead  ...             1
1                     Blood & Water  ...             0
2                         Ganglands  ...             0
3             Jailbirds New Orleans  ...             0
4                      Kota Factory  ...             0
5                     Midnight Mass  ...             0
6  My Little Pony: A New Generation  ...             1
7                           Sankofa  ...             1
8     The Great British Baking Show  ...             0
9                      The Starling  ...             1

[10 rows x 4 columns]