## Netflix Analysis
### Phase 1 : Data Cleaning
### Name : Gagan Dhanapune
### gmail : gagandhanapune@gmail.com

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("/Volumes/workspace/default/netflix/netflix_titles.csv")

In [0]:
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [0]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [0]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [0]:
#Filling Missing Value

df['director'].fillna('NA', inplace=True)
df['cast'].fillna('NA', inplace=True)
df['country'].fillna('NA', inplace=True)
df['date_added'].fillna('NA', inplace=True)
df['rating'].fillna('NA', inplace=True)

In [0]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        3
listed_in       0
description     0
dtype: int64

In [0]:
#removing a Duplicates 
df.drop_duplicates(inplace=True)

In [0]:

# Extract duration number and type (minutes or seasons)
df['duration_num'] = df['duration'].str.extract(r'(\d+)').astype(float)
df['duration_type'] = df['duration'].str.extract(r'(min|Season|Seasons)')

In [0]:
df.head(5)

  show_id     type  ... duration_num duration_type
0      s1    Movie  ...         90.0           min
1      s2  TV Show  ...          2.0        Season
2      s3  TV Show  ...          1.0        Season
3      s4  TV Show  ...          1.0        Season
4      s5  TV Show  ...          2.0        Season

[5 rows x 14 columns]

In [0]:
# Remove Extra white Spaces 
df['title'] = df['title'].str.strip()

In [0]:
df.to_csv("/Volumes/workspace/default/netflix/netflix_Clean_CSV.csv", index=False)
print("Cleaned dataset saved as 'netflix_Clean_CSV.csv'")

Cleaned dataset saved as 'netflix_Clean_CSV.csv'