## Netflix Analysis
### Phase 1 : Data Cleaning
### Name : Gagan Dhanapune
### gmail : gagandhanapune@gmail.com

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("/Volumes/workspace/default/netflix/netflix_titles_Data.csv")

In [0]:
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [0]:
df.describe(include='all')

       show_id  ...                                        description
count     8807  ...                                               8807
unique    8807  ...                                               8775
top         s1  ...  Paranormal activity at a lush, abandoned prope...
freq         1  ...                                                  4
mean       NaN  ...                                                NaN
std        NaN  ...                                                NaN
min        NaN  ...                                                NaN
25%        NaN  ...                                                NaN
50%        NaN  ...                                                NaN
75%        NaN  ...                                                NaN
max        NaN  ...                                                NaN

[11 rows x 12 columns]

In [0]:
df.shape

(8807, 12)

In [0]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [0]:
df.count()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [0]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [0]:
df["director"].value_counts()
df["cast"].value_counts()
df["country"].value_counts()

United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: country, Length: 748, dtype: int64

In [0]:
#Filling Missing Value

df['director'] = df['director'].fillna('NA')
df['cast'] = df['cast'].fillna('NA')
df['country'] = df['country'].fillna('NA')
df['date_added'] = df['date_added'].fillna('NA')
df['rating'] = df['rating'].fillna('NA')

In [0]:
#after Handling Null values We get All values 0 except duration
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        3
listed_in       0
description     0
dtype: int64

In [0]:
# Extract duration number and type (minutes or seasons)
df['duration_num'] = df['duration'].str.extract(r'(\d+)').astype(float)
df['duration_type'] = df['duration'].str.extract(r'(min|Season|Seasons)')

In [0]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         3
listed_in        0
description      0
duration_num     3
duration_type    3
dtype: int64

In [0]:
df.drop(columns=['duration'], inplace=True)

In [0]:
# Remove Extra white Spaces 
df['title'] = df['title'].str.strip()
df['director'] = df['director'].str.strip()
df['country'] = df['country'].str.strip()
df['rating'] = df['rating'].str.strip()

In [0]:
#removing a Duplicates 
df.drop_duplicates(inplace=True)

In [0]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
listed_in        0
description      0
duration_num     3
duration_type    3
dtype: int64

In [0]:
#handling Duration Columns null values
df['duration_num'] = df['duration_num'].fillna(0)
df['duration_type'] = df['duration_type'].fillna('NA')

In [0]:
#after Handling all Nulls and Duplicates Value
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
listed_in        0
description      0
duration_num     0
duration_type    0
dtype: int64

In [0]:
df.head()

  show_id     type  ... duration_num duration_type
0      s1    Movie  ...         90.0           min
1      s2  TV Show  ...          2.0        Season
2      s3  TV Show  ...          1.0        Season
3      s4  TV Show  ...          1.0        Season
4      s5  TV Show  ...          2.0        Season

[5 rows x 13 columns]

In [0]:
df.to_csv("/Volumes/workspace/default/netflix/netflix_cleaned_new.csv", index=False)